<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Overwatch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
      <nav class="nav">
        <div class="nav-wrapper">
          <li class="brand-logo">&nbsp;&nbsp;&nbsp;<%= link_to "OverTrack", root_path %></li>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down compress">
            <% if current_user %>
              <li><%= current_user.battletag %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <%else%>
              <li><%=link_to "Sign In", new_user_session_path %></li>
            <%end%>
          </ul>
          <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li><%= link_to current_user.battletag, root_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <%else%>
            <li><%=link_to "Sign In", new_user_session_path %></li>
          <%end%>
        </ul>
      </div>
    </nav>
  </header>

  <body>
    <% if flash[:notice] %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 6000)
      </script>
    <% elsif flash[:error] %>
      <script type="text/javascript">
        Materialize.toast('<%= flash[:error] %>', 6000)
      </script>
    <% elsif flash[:alert] %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 6000)
      </script>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
